.NavigationBar	{
	display: flex;
	background-color: #FFF;
	justify-content: space-between;
	height: 80px;
	align-items: center;
	padding: 20px;
	width: 100%;
	box-shadow: 0 0 50px 3px #DEF;
	position: relative;
}