.DetectionPanel {
	min-height: 300px;
	height: 30vh;
	width: 50vw;
	backdrop-filter: blur(8px);
	box-shadow: 0 0 20px 3px #DEF;
	border-radius: 3px;
	display: grid;
	grid-template-columns: 70% 25%;
	column-gap: 30px;
}
	.DetectionPanel_container {
		position: relative;
	}