.App {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100vh;
}

.App_main {
  margin: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.App_Detection_img {
  max-width: 100%;
  max-height: 100%;
}

.App_picture_detection {
  height: inherit;
}